*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
data

.ipynb_checkpoints
*backkup*.jl

# Inputs and outputs of job array example
ex1_job_array_in.csv
ex1_out*.csv
ex2_out*.csv

# slurm outputs
ex?_*.log

# Other unnecessary files
julia-*.out
.nfs*
